.parent-container 
  .left-container 
    .header 
      %h1.main-header-font RICKY AHN 
      %h2.main-header-font FRONT-END 
      %h3.main-header-font DEVELOPER 
      %hr 
      %p 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make.
        .port-button
          View Portfolio
    %hr
    .sub-content-container.know-container
      .sub-header
        %p Reason #1
      .skills
        %h3 I KNOW <span style="color: white; font-weight: bold;">STUFF</span>
        %ul
          %li 
            <strong>HTML</strong>
            %span
              +5 years experience
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          %li
            <strong>CSS</strong>
            %span
              +5 years experience
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          %li
            <strong>JavaScript</strong>
            %span
              +5 years experience
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          %li
            <strong>Ruby On Rails</strong>
            %span +5 years experience 
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

    .sub-content-container.learn-container
      .sub-header
        %p Reason #2 
      .skills 
        %h3 I'M <span style="color: white; font-weight: bold;">LEARNING</span> THINGS 
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel ante facilisis, lobortis tortor in, sodales est.

      .portfolio-container
        .sub-header
          %p Reason #3
        .skills
          %h3 I'VE DONE <span style="color: white; font-weight: bold;"> WORK </span>
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel 
            ante facilisis.
          %br
          .portfolio-image-container
            = image_tag 'screenshot_acadia_projects.jpg'

  .right-container
    .ricky-image
      = image_tag 'ricky_blink-iloveimg-cropped.gif', class: 'ricky-image'
  .clear
  .port-view-container
    %ul
      %li
        .portfolio-grid-container
          .port-description
            %h3 The Base
            %p 
              lorem ipsum dolor sit amet, consectetur adipiscing elit. cras sed dui eget tellus lacinia vulputate. sed suscipit urna et convallis volutpat. fusce finibus nunc id nibh bibendum, nec tincidunt turpis semper.
            %p.description 
              %strong 
                Front End:
              HTML/CSS/JavaScript
          = image_tag 'screenshot_the_base.gif'
          .clear
      %li
        .portfolio-grid-container
          .port-description
            %h3 Ra-Solar Asset Management
            %p 
              lorem ipsum dolor sit amet, consectetur adipiscing elit. cras sed dui eget tellus lacinia vulputate. sed suscipit urna et convallis volutpat. fusce finibus nunc id nibh bibendum, nec tincidunt turpis semper.
            %p.description 
              %strong 
                Front End:
              HTML/CSS/JavaScript
            %p.description
              %strong 
                Back End:
              Ruby on Rails
          = image_tag 'screenshot_ra_power.gif'
          .clear
      %li
        .portfolio-grid-container
          .port-description
            %h3 Acadia
            %p 
              lorem ipsum dolor sit amet, consectetur adipiscing elit. cras sed dui eget tellus lacinia vulputate. sed suscipit urna et convallis volutpat. fusce finibus nunc id nibh bibendum, nec tincidunt turpis semper.
            %p.description 
              %strong 
                Front End:
              HTML/CSS/Backbone
            %p.description
              %strong 
                Back End:
              Ruby on Rails
          = image_tag 'screenshot_acadia.gif'
          .clear
      %li
        .portfolio-grid-container
          .port-description
            %h3 IronRidge
            %p 
              lorem ipsum dolor sit amet, consectetur adipiscing elit. cras sed dui eget tellus lacinia vulputate. sed suscipit urna et convallis volutpat. fusce finibus nunc id nibh bibendum, nec tincidunt turpis semper.
            %p.description 
              %strong 
                Front End:
              HTML/CSS/JavaScript 
            %p.description 
              %strong 
                Back End:
              Ruby on Rails
          = image_tag 'screenshot_ironridge.gif'
          .clear
      %li
        .portfolio-grid-container
          .port-description
            %h3 Urban Futsal
            %p 
              lorem ipsum dolor sit amet, consectetur adipiscing elit. cras sed dui eget tellus lacinia vulputate. sed suscipit urna et convallis volutpat. fusce finibus nunc id nibh bibendum, nec tincidunt turpis semper.
            %p.description 
              %strong 
                Front End:
              Wordpress Project
          = image_tag 'screenshot_urban_futsal.gif'
          .clear

.close-button
  %i.fas.fa-times-circle
  %span
    CLOSE
